@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body,html{
	height: 100%;
	margin: 0;
	font-family: 'Kanit', sans-serif;  
	background: rgb(44, 47, 59);
}
.pg-header {
  align-items: center; 
  text-align: center;
}
.pg-header img{
  align-items: center;
  width: 250px;
  height: 100px; 
}
.chat{
	position: relative;
	padding-bottom: 20px; /* Reducido de 60px a 20px */
    margin-top: 20px; /* Añadido para dar un poco de espacio arriba */
    margin-bottom: 20px; 
	/*margin-top: auto;
	margin-bottom: auto;*/
}
.card{
	height: 500px;
	border-radius: 15px !important;
	background-color: rgba(0,0,0,0.4) !important;
}
.contacts_body{
	padding:  0.75rem 0 !important;
	overflow-y: auto;
	/*white-space: nowrap;*/
}
.msg_card_body{
	overflow-y: auto;
}
.card-header{
	border-radius: 15px 15px 0 0 !important;
	border-bottom: 0 !important;
}
.card-footer{
border-radius: 0 0 15px 15px !important;
	border-top: 0 !important;
}
.container{
	align-content: center;
}
.search{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color:white !important;
}
.search:focus{
	 box-shadow:none !important;
   outline:0px !important;
}
.type_msg{
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color:white !important;
	height: 60px !important;
	overflow-y: auto;
}
	.type_msg:focus{
	 box-shadow:none !important;
   outline:0px !important;
}
.attach_btn{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.send_btn:hover{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: #ffd93e !important;
	cursor: pointer;
}
.search_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.contacts{
	list-style: none;
	padding: 0;
}
.contacts li{
	width: 100% !important;
	padding: 5px 10px;
	margin-bottom: 15px !important;
}
.active{
	background-color: rgba(0,0,0,0.3);
}
.user_img{
	height: 70px;
	width: 70px;
	border:3px solid #f5bd20;

}
.user_img_msg{
	height: 40px;
	width: 40px;
	border:1.5px solid #46297b;

}
.img_cont{
	position: relative;
	height: 70px;
	width: 70px;
}
.img_cont_msg{
	height: 40px;
	width: 40px;
}
.offline{
	background-color: #c23616 !important;
}
.user_info{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}
.user_info span{
	font-size: 20px;
	color: white;
}
.user_info p{
	font-size: 12px;
	color: #c2c2c2;
}
.video_cam{
	margin-left: 50px;
	margin-top: 5px;
}
.video_cam span{
	color: white;
	font-size: 20px;
	cursor: pointer;
	margin-right: 20px;
}
.msg_cotainer{
    color: white;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 25px;
	background-color: #863ba7;
	padding: 10px;
	position: relative;
}
.msg_cotainer_send{
    color: #46297b;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border-radius: 25px;
	background-color: #ffd93e;
	padding: 10px;
	position: relative;
}
.msg_time{
	position: absolute;
	left: 0;
	bottom: -15px;
	color: rgba(255,255,255,0.5);
	font-size: 10px;
}
.msg_time_send{
	position: absolute;
	right:0;
	bottom: -15px;
	color: rgba(255,255,255,0.5);
	font-size: 10px;
}
.msg_head{
	position: relative;
}
#action_menu_btn{
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	cursor: pointer;
	font-size: 20px;
}
.action_menu{
	z-index: 1;
	position: absolute;
	padding: 15px 0;
	background-color: rgba(0,0,0,0.5);
	color: white;
	border-radius: 15px;
	top: 30px;
	right: 15px;
	display: none;
}
.action_menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.action_menu ul li{
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5px;
}
.action_menu ul li i{
	padding-right: 10px;
}
.action_menu ul li:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
}
/*Button 'calificame' propierties*/
/* Estilo cuando el botón está deshabilitado */
button:disabled,
button[disabled] {
  background-color: transparent;
  color: transparent;
  border: 90px;
  cursor: not-allowed;
}

button:disabled .button-82-edge,
button[disabled] .button-82-edge {
  border: 12px;
  background: linear-gradient(
    to left,
    hsl(0deg, 0%, 80%) 0%,
    hsl(0deg, 0%, 60%) 8%,
    hsl(0deg, 0%, 50%) 92%,
    hsl(0deg, 0%, 45%) 100%
  );
}
button:disabled .button-82-pushable,
button[disabled] .button-82-pushable {
  border: 12px;
  background: linear-gradient(
    to left,
    hsl(0deg, 0%, 80%) 0%,
    hsl(0deg, 0%, 60%) 8%,
    hsl(0deg, 0%, 50%) 92%,
    hsl(0deg, 0%, 45%) 100%
  );
}
button:disabled .button-82-shadow,
button[disabled] .button-82-shadow {
  border: 12px;
  background: hsl(0deg 0% 0% / 0.15);
}

button:disabled .button-82-front,
button[disabled] .button-82-front {
  border: 12px;
  background: #cccccc;
  color: #666666;
  transform: translateY(0); /* Evita movimiento innecesario */
}

/* Estilo cuando el botón está habilitado */
.button-no_quest {
  position: relative;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.buttom-eval {
  position: relative;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.button-82-pushable {
  position: relative;
  border: 12px;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(39deg, 100%, 54%) 0%,
    hsl(53deg 100% 32%) 8%,
    hsl(53deg, 100%, 50%) 92%,
    hsl(33deg, 100%, 45%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: #863ba7;
  background: #f5bd20;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

/* Hover y activación cuando está habilitado */
.button-82-pushable:not(:disabled):hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:not(:disabled):hover .button-82-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:not(:disabled):active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:not(:disabled):hover .button-82-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:not(:disabled):active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}


@media(max-width: 576px){
	.contacts_card{
	margin-bottom: 15px !important;
}
}
/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1f1f1f; /* Color de fondo del track */
}

::-webkit-scrollbar-thumb {
    background-color: #585858; /* Color de la barra */
    border-radius: 10px; /* Redondea la barra */
    border: 2px solid #1f1f1f; /* Agrega un borde alrededor */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a5a5a5; /* Cambia el color al pasar el mouse */
}
/* Estilos estrellas */
.modal-likert {
  color: #ffff; 
  border: 90px;
  background-color: transparent;
}
.modal-nqa {
  color: #ffff; 
  border: 90px;
  background-color: transparent;
}
.ventana-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 10px solid #46297b;
    border-radius: 10%;
    background-color: #ffd93e;
    color: #46297b;
    max-width: 400px;
    margin: auto;
}
.ventana-modal h2 {
  font-weight: bold;
  background-color: #46297b;
  color: #ffff;
}
.star-group {
    display: flex;
    font-size: clamp(1.5em, 10vw, 3em);
    margin: 15px 0;
}

/* reset native input styles */
.star {
    -webkit-appearance: none;
    align-items: center;
    appearance: none;
    cursor: pointer;
    display: grid;
    font: inherit;
    height: 1.15em;
    justify-items: center;
    margin: 0;
    place-content: center;
    position: relative;
    width: 1.15em;
}

@media (prefers-reduced-motion: no-preference) {
    .star {
        transition: all 0.25s;
    }

    .star:before,
    .star:after {
        transition: all 0.25s;
    }
}

.star:before,
.star:after {
    color: #863ba7;
    position: absolute;
}

.star:before {
    content: "☆";
}

.star:after {
    content: "✦";
    font-size: 25%;
    opacity: 0;
    right: 20%;
    top: 20%;
}

/* The checked radio button and each radio button preceding */
.star:checked:before,
.star:has(~ .star:checked):before {
    content: "★";
}

#two:checked:after,
.star:has(~ #two:checked):after {
    opacity: 1;
    right: 14%;
    top: 10%;
}

#three:checked:before,
.star:has(~ #three:checked):before {
    transform: scale(1.15);
}

#three:checked:after,
.star:has(~ #three:checked):after {
    opacity: 1;
    right: 8%;
    top: 2%;
    transform: scale(1.15);
}

#four:checked:before,
.star:has(~ #four:checked):before {
    text-shadow: 0.05em 0.033em 0px rgba(62, 56, 19, 0.266);
    transform: scale(1.15);
}

#four:checked:after,
.star:has(~ #four:checked):after {
    opacity: 1;
    right: 8%;
    top: 2%;
    transform: scale(1.15);
}

#five:checked:before,
.star:has(~ #five:checked):before {
    text-shadow: 0.05em 0.033em 0px rgba(167, 153, 59, 0.3);
    transform: scale(1.15);
}

#five:checked:after,
.star:has(~ #five:checked):after {
    opacity: 1;
    right: 8%;
    text-shadow: 0.14em 0.075em 0px rgba(167, 153, 59, 0.3);
    top: 2%;
    transform: scale(1.15);
}

.star-group:has(> #five:checked) {
    #one {
        transform: rotate(-15deg);
    }

    #two {
        transform: translateY(-20%) rotate(-7.5deg);
    }

    #three {
        transform: translateY(-30%);
    }

    #four {
        transform: translateY(-20%) rotate(7.5deg);
    }

    #five {
        transform: rotate(15deg);
    }
}

.star:focus {
    outline: none;
}

.star:focus-visible {
    border-radius: 8px;
    outline: 2px dashed #863ba7;
    outline-offset: 8px;
    transition: all 0s;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.botones .button {
    background-color: #863ba7;
    color: white;
    border: 50%;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}
.botones {
	display: flex;
	flex-direction: row;
}
#cerrar-modal {
    background-color: #f44336;
}
#enviar {
    background-color: #863ba7;
    margin-right: 10px;
    border-radius: 12px;
}
#enviar:hover {
    background-color: #6c2e8c;
}
