<!DOCTYPE html>
<html>
<head>
    <title>Carmelo</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="icon" href="/static/images/logo.ico">
</head>
<body>
    <br><br><br>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">    
            <div class="col-md-8 col-xl-6 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="/static/images/carmelo.gif" class="rounded-circle user_img">
                            </div>
                            <div class="user_info">
                                <span>Carmelo</span>
                                <p>Preguntame sobre Derecho del Trabajo o Seguridad Social</p>
                            </div>
                        </div>
                    </div>
                    <div id="messageFormeight" class="card-body msg_card_body">
                        <!-- Los mensajes aprecen acá -->
                    </div>
                    <div class="card-footer">
                        <form id="messageArea" class="input-group">
                            <input type="text" id="text" name="message" placeholder="Dime tu pregunta..." autocomplete="off" class="form-control type_msg" required/>
                            <div class="input-group-append">
                                <button type="submit" id="send" class="input-group-text send_btn">
                                    <i class="fa fa-paper-plane"></i>
                                    <i class="fas fa-microphone"></i>
                                    <i class="fas fa-circle-stop"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
                <div class="button-no_quest">
                    <button class="button-82-pushable" role="button" id="no-quest" disabled>
                        <span class="button-82-shadow"></span>
                        <span class="button-82-edge"></span>
                        <span class="button-82-front text">
                          <b>¿Tu consulta jurídica no fue respondida?</b>
                        </span>
                    </button>
                </div>
                <br>
                <div class="buttom-eval">
                    <button class="button-82-pushable" role="button" id="eval" disabled>
                        <span class="button-82-shadow"></span>
                        <span class="button-82-edge"></span>
                        <span class="button-82-front text">
                          <b>¡Califícame!</b>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <form id="ratingForm" name="ratingForm">
        <dialog id="modal-likert" class="modal-likert">
            <div class="ventana-modal">
                <h2>¡Calificame!</h2>
                <p>Esta es una encuesta para determinar la utilidad de mis respuestas</p>
                <label for="name-user">¿Cuál es su nombre? (Opcional)</label>
                <input type="text" placeholder="Anónimo" id="name-user" name="name">
                <label for="star-group">¿Que tan útil fueron las respuestas del chatbot?</label>
                <div class="star-group">
                    <input type="radio" class="star" id="one" value="1" name="star_rating" >
                    <input type="radio" class="star" id="two" value="2" name="star_rating">
                    <input type="radio" class="star" id="three" value="3" name="star_rating" checked>
                    <input type="radio" class="star" id="four" value="4" name="star_rating">
                    <input type="radio" class="star" id="five" value="5" name="star_rating">
                </div>
                <h4 id="rating-description">Regularmente útil</h4>
                <label for="comment-user">¿Algo más que desee opinar sobre el chatbot?</label>
                <textarea placeholder="Escriba aquí..." name="comentario" id="comment-user"></textarea>
                <div class="botones">
                    <button id="enviar">
                        Enviar
                    </button>
                    <button id="cerrar-modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </dialog>
    </form>
    <form id="answerForm" name="answerForm">
        <dialog id="modal-nqa" class="modal-nqa">
         <div class="ventana-modal">
            <label for="user_noanswerd">¿Cuál es su nombre?</label>      
            <input type="text" name="user_noanswerd" id="user_noanswerd">
            <label for="email">¿Cuál es su correo electrónico?</label>
            <input type="email" name="email" id="email">
            <label for="quest_noanswerd">¿Podría formular la pregunta que no fue respondida por el Chatbot?</label>      
            <input type="text" name="quest_noanswerd" id="quest_noanswerd">
            <div class="botones">
            <button id="enviar_qna">
                Enviar
            </button>
            <button id="cerrar-modal">
                Cerrar
            </button>
        </div>
         </div>
        </dialog> 
    </form>
    <script src="/static/js/script.js"></script>
</body>
</html>